*{
  margin:0;
}
html, body {
  height:100%;
}

nav{
  position: fixed;
  height: 50px;
  width:100%;
  background-color:#1E4607;
  z-index: 99;
  text-align: center;

  opacity: 0.5;
}
nav:hover{
  opacity: 1.0;
}
nav a {
  text-decoration:none;
  color: #fff;
  margin-left:30px;
  line-height:50px;
}
.sect{
  height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  /*background-attachment: fixed;*/
}

#title{
 position:absolute;
 bottom: 315px;
 left: 38%;
 align-self: center;
 border: 1px solid #03053F;
 width: 365px;
 text-align:center;
 letter-spacing: 6px;
 font-family: arial;
 font-weight: bold;
 opacity: 1;
 color:black;
}

.shp{
  font-weight: bold;
  align-items: flex-start;
}
.sectOne{
  background-image: url("../images/tetons.gif");
}
.sectTwo{
  background-color:#001335;
}

#workSection{
  background-color: #0093CB;
}
.subSection {
  height: 50%;
}

#abt{
  color: white;
  padding-left: 5px;
  padding-top: 55px;
}
#abt h2 {
  text-decoration: underline;
  padding-left: 122px;
}

#abtcontent{
  padding-top: 30px;
}
.profile{
    padding-left: 100px;
    padding-top: 100px;
}
#contactSection{
  background-color:#429C47;
}
#portfolioSection{
  background-color:#76A526;
}

#db{
    padding-left: 10px;
}

ul.ripple{
  float:left;
  overflow:hidden;
  margin:0;
  padding-left:47px;
  font-size:25px;
  font-weight:600;
}

ul.ripple li{
  float:left;
  list-style:none;
  padding:0 1px;
  color:black;
  text-shadow:1px 1px 3px rgba(0,0,0,.25);
}

ul.ripple li:nth-child(2){
  -webkit-animation-delay:50ms;
  -moz-animation-delay:50ms;
  animation-delay:50ms;
}

ul.ripple li:nth-child(3){
  -webkit-animation-delay:100ms;
  -moz-animation-delay:100ms;
  animation-delay:100ms;
}
/* that green bar */
ul.ripple li:nth-child(3):before{
  position:absolute;
  bottom:20px;
  left:-5%;
  display:block;
  content:'';
  height:5px;
  width:110%;
}

ul.ripple li:nth-child(4){
  -webkit-animation-delay:150ms;
  -moz-animation-delay:150ms;
  animation-delay:150ms;
  color:white;
}

ul.ripple li:nth-child(5){
  -webkit-animation-delay:200ms;
  -moz-animation-delay:200ms;
  animation-delay:200ms;
  color:white;
}

ul.ripple li:nth-child(6){
  -webkit-animation-delay:250ms;
  -moz-animation-delay:250ms;
  animation-delay:250ms;
  color:white;
}

ul.ripple li:nth-child(7){
  -webkit-animation-delay:300ms;
  -moz-animation-delay:300ms;
  animation-delay:300ms;
  color:black;
}

ul.ripple:hover li{
 -webkit-animation-name: ripple;
 -webkit-animation-duration: 300ms;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-name: ripple;
 -moz-animation-duration: 300ms;
 -moz-animation-iteration-count: 1; 
 -moz-animation-timing-function: ease-in;
 -o-animation-name: ripple;
 -o-animation-duration: 300ms;
 -o-animation-iteration-count: 1; 
 -o-animation-timing-function: ease-in;
 animation-name: ripple;
 animation-duration: 300ms;
 animation-iteration-count: 1; 
 animation-timing-function: ease-in;
}

@-webkit-keyframes ripple {
  0%   { -webkit-transform: skewY(0deg); }
  25%  { -webkit-transform: skewY(10deg) translateY(-5px); }
  50%  { -webkit-transform: skewY(0deg) translateY(-10px); }
  75%  { -webkit-transform: skewY(-10deg) translateY(-5px);}
  100% { -webkit-transform: skewY(0deg) translateY(0px); }
}

@-moz-keyframes ripple {
  0%   { -moz-transform: skewY(0deg); }
  25%  { -moz-transform: skewY(10deg) translateY(-5px); }
  50%  { -moz-transform: skewY(0deg) translateY(-10px); }
  75%  { -moz-transform: skewY(-10deg) translateY(-5px);}
  100% { -moz-transform: skewY(0deg) translateY(0px); }
}

@-o-keyframes ripple {
  0%   { -o-transform: skewY(0deg); }
  25%  { -o-transform: skewY(10deg) translateY(-5px); }
  50%  { -o-transform: skewY(0deg) translateY(-10px); }
  75%  { -o-transform: skewY(-10deg) translateY(-5px);}
  100% { -o-transform: skewY(0deg) translateY(0px); }
}

@keyframes ripple {
  0%   { transform: skewY(0deg); }
  25%  { transform: skewY(10deg) translateY(-5px); }
  50%  { transform: skewY(0deg) translateY(-10px); }
  75%  { transform: skewY(-10deg) translateY(-5px);}
  100% { transform: skewY(0deg) translateY(0px); }
}