*{
  margin:0;
}
html, body {
  height:100%;
}

nav{
  position: fixed;
  height: 50px;
  width:100%;
  background-color:#1E4607;
  z-index: 99;
  text-align: center;
  border-bottom: 4px solid 	white;
}
nav a {
  text-decoration:none;
  color: #fff;
  margin-left:30px;
  line-height:50px;
}
.sect{
  height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

#title{
 position:absolute;
 bottom: 315px;
 left: 38%;
 align-self: center;
 border: 1px solid #03053F;
 width: 365px;
 text-align:center;
 letter-spacing: 6px;
 font-family: arial;
 font-weight: bold;
}

.shp{
  font-weight: bold;
  align-items: flex-start;
}
.sectOne{
  background-image: url("../images/tetons.gif");
}
.sectTwo{
  background-color:#001335;
}

#workSection{
  background-color: #0093CB;
}
.subSection {
  height: 50%;
}

#abt{
  color: white;
  padding-left: 5px;
  padding-top: 55px;
}
#abt h2 {
  text-decoration: underline;
  padding-left: 122px;
}
#contactSection{
  background-color:#429C47;
}
#portfolioSection{
  background-color:#76A526;
}
