*{
  margin:0;
}
html, body {
  height:100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}
nav{
  position: fixed;
  height: 50px;
  width:100%;
  background-color:#475952;
  z-index: 99;
  text-align: center;
  border-bottom: 2px solid white;
}
nav a {
  text-decoration:none;
  color: #fff;
  margin-left:30px;
  line-height:50px;
}
.sect{
  height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
#homeSection h1{
  color: black;
}

#title{
  width: 50px;
  height: 0px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: red;
}
.sectOne{
  background-image: url("../images/tetons.gif");
  height:
}
.sectTwo{
  background-color:#002255;
}

#workSection{
  background-color: #475952;
}
.subSection{
  height: 50%;
}
#aboutSection{
  background-color:#6934bb;
}
#contactSection{
  background-color:purple;
}
#portfolioSection{
  background-color: #002255;
}
